* {
  padding: 0;
  margin: 0;
}
#addBlog {
  float: right;
  border: none;
  font-size: 35px;
  right: 60px;
  top: 10px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  transition: 0.7s;
}
/* #addBlog:hover {
  transform: rotate(45deg);
} */
#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.userBlog {
  display: flex;
 
  flex-direction: column;
  min-width: 300px;
  padding: 20px 20px 60px;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  gap: 20px;
  min-height: 350px;
}
img {
  min-width: 300px;
  max-height: 200px;

  margin: auto;
}
#description {
  max-width: 300px;
  display: inline;
}
#readBlog {
  padding: 15px 10px;
  border: none;
  font-weight: 600;
  color: rgb(251, 96, 7);
  background-color: #e5530b51;
  cursor: pointer;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin-top: 30px;
}
input {
  padding: 10px 20px;
  min-width: 500px;
  margin: auto;
}
textarea {
  margin: auto;
}

.form-popup {
  display: none;
  position: absolute;
  top: 50px;
  right: 15%;
  background-color: #fff;
  z-index: 9;
  margin: auto;
  padding: 30px 40px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#closePage {
  float: right;
  border: none;
  font-size: 35px;
  right: 10px;
  top: 5px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  transform: rotate(45deg);
}
#AddBlog {
  font-size: 15px;
  padding: 10px 0px;
  background-color: #6234e1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.blogContainer{
  border: 1px solid green;
  position: absolute;
  top: 50px;
  right: 10%;
  background-color: #fff;
  z-index: 9;
  margin: auto;
  padding: 10px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  max-width: 700px;
  

}
.blogContainer .blogInfo{
  display:flex;
  /* flex-direction: row-reverse; */
    align-items: center; 
  justify-content: space-between;
  background-color: #6552de;
  color: #fff;
  gap: 20px;
  min-width: 500px;
  padding: 20px;
  border-radius: 0.6rem;
  margin-top: -10px;

   
}
.blogInfo div{
  width: 50%;
  word-wrap: break-word;
}
.blogContainer img{ 
  /* float: left; */
  border: 2px solid #fff;
  border-radius: 0.8rem;
  outline: none;
  margin-right:0;

} 
.blogInfo h3{
  padding: 10px 0;
}

.blogContent{
  border: 1px solid red;
  padding: 30px 20px;
  word-wrap: break-word;
  max-width: 800px;
}


#back_home{
  display: none;
  border: none;
  background: transparent;
  font-size: 30px;
  font-weight:900;
  position: relative;
  bottom: 10px;
  cursor: pointer;

}
